.vscode
.idea

compiled
target
*.jar
*.class

**/storage
/storage/*
/index/
/index/*
**/urls
/urls/*

/logs
/logs/*
**/logs

**/trec*/
/TREC


!**/java/**/storage
!**/java/**/index
!**/java/**/urls
!**/java/**/trec

**/chromedriver
